## Preprocessing

In [19]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN","NAME"])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df["APPLICATION_TYPE"].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [23]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=[]
df = pd.DataFrame(application_df["APPLICATION_TYPE"].value_counts().reset_index())
df=df.reset_index()

for x in range(len(df)):
    if df["count"][x] < 200:
        application_types_to_replace.append(df["APPLICATION_TYPE"][x])

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [24]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_data = pd.DataFrame(application_df["CLASSIFICATION"].value_counts()).reset_index()
classification_data

   CLASSIFICATION  count
0           C1000  17326
1           C2000   6074
2           C1200   4837
3           C3000   1918
4           C2100   1883
..            ...    ...
66          C4120      1
67          C8210      1
68          C2561      1
69          C4500      1
70          C2150      1

[71 rows x 2 columns]

In [25]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_data[classification_data["count"]>1]

   CLASSIFICATION  count
0           C1000  17326
1           C2000   6074
2           C1200   4837
3           C3000   1918
4           C2100   1883
5           C7000    777
6           C1700    287
7           C4000    194
8           C5000    116
9           C1270    114
10          C2700    104
11          C2800     95
12          C7100     75
13          C1300     58
14          C1280     50
15          C1230     36
16          C1400     34
17          C7200     32
18          C2300     32
19          C1240     30
20          C8000     20
21          C7120     18
22          C1500     16
23          C1800     15
24          C6000     15
25          C1250     14
26          C8200     11
27          C1238     10
28          C1278     10
29          C1235      9
30          C1237      9
31          C7210      7
32          C2400      6
33          C1720      6
34          C4100      6
35          C1257      5
36          C1600      5
37          C1260      3
38          C2710      3
39             C0      3
40          C3200      2
41          C1234      2
42          C1246      2
43          C1267      2
44          C1256      2

In [26]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=[]
for x in range(len(classification_data)):
    if classification_data["count"][x] < 1800:
        classifications_to_replace.append(classification_data["CLASSIFICATION"][x])


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [27]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(application_df)

In [28]:
# Split our preprocessed data into our features and target arrays
X = df.drop("SPECIAL_CONSIDERATIONS_Y", axis = 1)
y = df["SPECIAL_CONSIDERATIONS_Y"]

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y , random_state=1)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [30]:

nn = tf.keras.models.Sequential()

In [36]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units = 80, activation = "relu", input_dim = 43))

# Second hidden layer
nn.add(Dense(units = 30, activation = "relu", input_dim = 2))

# Output layer
nn.add(Dense(units = 1, activation = "relu", input_dim = 2))


# Check the structure of the model
nn.summary()

Model: "sequential_5"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_7 (Dense)                 │ (None, 80)             │         3,520 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_9 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,981 (23.36 KB)

 Trainable params: 5,981 (23.36 KB)

 Non-trainable params: 0 (0.00 B)

In [40]:
# Compile the model SGD NAG Adam
nn.compile(optimizer =  "Nadam", loss = "categorical_crossentropy", metrics = ["accuracy"])

In [41]:
# Train the model
model_nn_fitted = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100

c:\Users\vallk\anaconda3\Lib\site-packages\keras\src\losses\losses.py:27: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return self.fn(y_true, y_pred, **self._fn_kwargs)

804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 577us/step - accuracy: 0.9988 - loss: nan
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - accuracy: 0.9993 - loss: nan
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - accuracy: 0.9989 - loss: nan
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 551us/step - accuracy: 0.9990 - loss: nan
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - accuracy: 0.9991 - loss: nan
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - accuracy: 0.9992 - loss: nan
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.9990 - loss: nan
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 577us/step - accuracy: 0.9989 - loss: nan
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - accuracy: 0.9991 - loss: nan
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - accuracy: 0.9993 - loss: nan
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.9993 - loss: nan
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - accuracy: 0.9993 - loss: nan
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.9992 - loss: nan
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step - accuracy: 0.9990 - loss: nan
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step - accuracy: 0.9988 - loss: nan
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.9990 - loss: nan
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.9991 - loss: nan
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.9993 - loss: nan
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 607us/step - accuracy: 0.9992 - loss: nan
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 603us/step - accuracy: 0.9990 - loss: nan
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 569us/step - accuracy: 0.9993 - loss: nan
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 565us/step - accuracy: 0.9994 - loss: nan
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.9991 - loss: nan
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.9989 - loss: nan
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.9991 - loss: nan
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 577us/step - accuracy: 0.9990 - loss: nan
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 565us/step - accuracy: 0.9994 - loss: nan
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - accuracy: 0.9993 - loss: nan
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - accuracy: 0.9992 - loss: nan
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - accuracy: 0.9987 - loss: nan
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - accuracy: 0.9993 - loss: nan
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - accuracy: 0.9992 - loss: nan
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - accuracy: 0.9991 - loss: nan
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 599us/step - accuracy: 0.9992 - loss: nan
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - accuracy: 0.9990 - loss: nan
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - accuracy: 0.9993 - loss: nan
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - accuracy: 0.9990 - loss: nan
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 568us/step - accuracy: 0.9988 - loss: nan
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - accuracy: 0.9992 - loss: nan
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 566us/step - accuracy: 0.9994 - loss: nan
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 577us/step - accuracy: 0.9993 - loss: nan
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - accuracy: 0.9992 - loss: nan
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.9991 - loss: nan
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 572us/step - accuracy: 0.9991 - loss: nan
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 543us/step - accuracy: 0.9994 - loss: nan
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 547us/step - accuracy: 0.9992 - loss: nan
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - accuracy: 0.9994 - loss: nan
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9991 - loss: nan
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 580us/step - accuracy: 0.9993 - loss: nan
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 557us/step - accuracy: 0.9992 - loss: nan
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9991 - loss: nan
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - accuracy: 0.9989 - loss: nan
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - accuracy: 0.9995 - loss: nan
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.9992 - loss: nan
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.9990 - loss: nan
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.9991 - loss: nan
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 548us/step - accuracy: 0.9992 - loss: nan
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9993 - loss: nan
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9992 - loss: nan
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step - accuracy: 0.9993 - loss: nan
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step - accuracy: 0.9991 - loss: nan
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - accuracy: 0.9994 - loss: nan
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 536us/step - accuracy: 0.9991 - loss: nan
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step - accuracy: 0.9990 - loss: nan
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 569us/step - accuracy: 0.9990 - loss: nan
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.9988 - loss: nan
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 592us/step - accuracy: 0.9993 - loss: nan
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 562us/step - accuracy: 0.9994 - loss: nan
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 584us/step - accuracy: 0.9994 - loss: nan
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 545us/step - accuracy: 0.9992 - loss: nan
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 553us/step - accuracy: 0.9992 - loss: nan
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.9991 - loss: nan
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.9993 - loss: nan
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9991 - loss: nan
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step - accuracy: 0.9991 - loss: nan
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - accuracy: 0.9993 - loss: nan
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - accuracy: 0.9991 - loss: nan
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 544us/step - accuracy: 0.9992 - loss: nan
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 543us/step - accuracy: 0.9994 - loss: nan
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.9994 - loss: nan
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.9993 - loss: nan
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 557us/step - accuracy: 0.9994 - loss: nan
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 558us/step - accuracy: 0.9992 - loss: nan
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 553us/step - accuracy: 0.9990 - loss: nan
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 550us/step - accuracy: 0.9993 - loss: nan
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - accuracy: 0.9992 - loss: nan
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.9993 - loss: nan
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.9990 - loss: nan
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 545us/step - accuracy: 0.9994 - loss: nan
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.9993 - loss: nan
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - accuracy: 0.9993 - loss: nan
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 557us/step - accuracy: 0.9991 - loss: nan
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.9990 - loss: nan
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - accuracy: 0.9987 - loss: nan
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 559us/step - accuracy: 0.9991 - loss: nan
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 569us/step - accuracy: 0.9993 - loss: nan
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 570us/step - accuracy: 0.9992 - loss: nan
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.9993 - loss: nan
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 565us/step - accuracy: 0.9989 - loss: nan
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.9991 - loss: nan

In [42]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 701us/step - accuracy: 0.9994 - loss: nan
Loss: nan, Accuracy: 0.9994168877601624

In [43]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.